<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Forum-Catalog</title>
	<link rel="stylesheet" type="text/css" href="../../public/assets/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

	<body class="forumCatalogPage">
		<div id = "topNav" class="boardNav">
			<div id="boardNavDesktop" class="desktop">
				<span class="boardList">
				   "["
				   <a href="/1/catalog" title="Test Board 1">1</a>
				   "/"
				   <a href="/2/catalog" title="Test Board 2">2</a>
				   "/"
				   <a href="/3/catalog" title="Test Board 3">3</a> 
				   "]"
				<!-- the stuff below may be deleted but i may play with it-->
				 <span class="custom-menu-ctrl">[<a data-cm-edit="" title="Edit Menu" href="#">Edit</a>]</span></span><span id="navtopright">[<a href="javascript:void(0);" id="settingsWindowLink">Settings</a>] [<a href="//www.4chan.org/" target="_top">Home</a>]</span>
			</div>
		</div>
		<div class="boardBanner"> 

			<div id="bannerCnt" class="title desktop" data-src="something.jpg">
				<img alt="hellovord" src="https://www.petfinder.com/wp-content/uploads/2012/11/91615172-find-a-lump-on-cats-skin-632x475.jpg">
			</div> 
			
				<div class="boardTitle">/1/ - Test Board 1
				</div> 
		</div>

		<div class="container-fluid">

			<div class='row'>
				<div class='col-md-12 text-center' id='header'>
					<h4>almsdf</h4>
					<h1>asldkfj</h1>
				</div>
			</div>

			{{{body}}}

		</div>
	</body>
</html>