<!DOCTYPE html>
<html>
<head>
	<title>newThread</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../../public/assets/css/style.css">
</head>
<body>
<form name="post" action="" method="post" enctype="multipart/form-data">
	<input type="hidden" name="MAX_FILE_SIZE" value="4194304">
	<input type="hidden" name="mode" value="regist">
	<input id="postPassword" name="pwd" type="hidden" value="_IFoN2ff46zW07LHcatbWTsZFgkQy99Es">
	<div id="togglePostFormLink" class="desktop" style="display: none;">
		[<a href="#">Start a New Thread</a>]
	</div>
	<table class="postForm hideMobile" id="postForm" style="display: table;">
		<tbody>
			<tr data-type="Name">
					<td>Name</td>
				<td>
					<input name="name" type="text" tabindex="1" placeholder="Name">
				</td>
			</tr>
			  
			<tr data-type="Options">
			   		<td>Options</td> 
			 	<td>
			   		<input name="email" type="text" tabindex="2">
			 	</td>
			</tr>
			<tr data-type="Subject">
			      	<td>Subject</td> 
			  	<td>
			  		<input name="sub" type="text" tabindex="3">
			  		<input type="submit" value="Post" tabindex="6">
			    </td>
			</tr>
			<tr data-type="Comment">
			   		<td>Comment</td>
			 	<td>
			   		<textarea name="com" cols="48" rows="4" wrap="soft" tabindex="4">		   		
			   		</textarea>
			   </td>
			</tr>
			<tr class="rules">
				<td colspan="2">
					<ul class="rules">
						<li>Please read the <a href="/rules">Rules</a>
						 and 
						 	<a href="/faq">
						 		FAQ
						 	</a> before posting.
						</li>
					</ul>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2">
					<div id="postFormError">
						
					</div>
				</td>
			</tr>
		</tfoot>
	</table>
	<table id="blotter" class="desktop">
		<thead>
			<tr>
				<td colspan="2">
					<hr class="aboveMidAd">
				</td>
			</tr>
		</thead>
				<td data-utc="1493903967" class="blotter-date">
					05/04/17
				</td>
				
</body>
</html>