/*note that this styling is more for visual representation */
/* i will be using it as reference for when hbars is rdy*/
html{-moz-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	color:#000;}
	body,div,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td
	{margin:0;padding:0;
	}
	body{margin-bottom:8px;
		}
		a{text-decoration:none;
		}
.aplnk{text-decoration:underline;
}
div.reply{
  background-color:#D6DAF0;
  border:1px solid #B7C5D9;
  border-left:none
  border-top:none;
}
.click-me{
  border-radius:5px;
  margin-top:5px;
  padding:2px 5px;
  position:absolute;
  font-weight:bold;
  z-index:2;
  white-space:nowrap;
}
div.boardSelect{
  float:left;
  color:#000;
}
div.boardSelect>strong{padding-right:5px;
}
div.pageJump{
  float:right;
  padding-right:5px;
  padding-top:3px;
}
.pageJump a{
  text-decoration:none;
  padding-right:5px;
}
.recaptcha_image_cell{background-color:transparent!important;
}
#content table{border-collapse:collapse;
  border-spacing:0;
}
.jpnFlag{height:11px;width:17px;
	}
	fieldset,img{border:0;
		}address,caption,cite,code,dfn,em,strong,th,var{
			font-style:normal;font-weight:normal;
			}li{list-style:none;
				}caption,th{text-align:left;
					}q:before,q:after{content:'';
					}abbr,acronym{border:0;font-variant:normal;
						}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}
textarea{-webkit-appearance:none;-webkit-border-radius:0;
}
legend{color:#000;
	}ins{text-decoration:none;
	}
body{background:url('http://www.solidbackgrounds.com/images/1920x1080/1920x1080-light-slate-gray-solid-color-background.jpg') 
repeat-x scroll center top #EEF2FF;
color:#000;
font-family:arial,helvetica,sans-serif;
font-size:10pt;
margin-left:0;
margin-right:0;
margin-top:5px;
padding-left:5px;
padding-right:5px;
width:100%;
height:100%}
strong{font-weight:bold;
}
em{font-style:italic;
	}
input[type=text],textarea{outline:none;
}
input[type="text"],
input[type="password"]{margin:0px 2px;padding:1px;}input:focus,textarea:focus{border:1px solid #9988EE!important;}
#content input[type="checkbox"]{vertical-align:middle;}
#filters input[type="checkbox"]{display:inline-block;margin:auto;}
img.topad,.topad>div,.topad a img{width:728px;height:90px;max-width:100%;overflow:hidden;margin:auto;}
img.middlead,.middlead>div,.middlead a img{width:468px;height:60px;max-width:100%;overflow:hidden;margin:auto;}
img.bottomad,.bottomad>div,.bottomad a img{width:728px;height:90px;max-width:100%;overflow:hidden;margin:auto;}
.button{cursor:pointer;border:none;white-space:nowrap;-moz-user-select:none;-webkit-user-select:none;user-select:none;}
.btn-wrap:before{content:'[';}
.btn-wrap:after{content:']';}
.clickbox{margin-right:3px;width:16px;height:16px;line-height:16px;font-size:10px;display:block;text-align:center;background-color:#fff;border:1px solid #aaa;text-decoration:none;color:#000;}
.custom-rgb{width:45px;}
.abovePostForm{width:90%;}
.hidden{display:none;}
#backdrop{background-color:rgba(0,0,0,0.25);text-align:center;position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:9002;}
.panel{position:absolute;padding:2px 5px 5px 5px;z-index:9003;font-size:14px;box-shadow:0 0 5px rgba(0,0,0,0.25);background-color:#D6DAF0;}.panel h4{font-size:14px;padding:0;margin:10px 0px 5px 0px;}
.panelHeader{border-bottom:1px solid #B7C5D9;font-size:16px;font-weight:bold;margin-bottom:5px;margin-top:5px;padding-bottom:5px;text-align:center;line-height:14px;}
.icon{width:18px;height:18px;display:block;background-size:100%;cursor:pointer;position:absolute;top:5px;}
  .pageJump a{color:#34345C;padding-right:5px;text-decoration:none;}
  #boardNavDesktop a{color:#34345C;padding:1px;text-decoration:none;}
  #boardNavDesktopFoot a:hover,
  #boardNavDesktop a:hover{color:#DD0000;}
  .navLinks .btn-wrap{display:inline;}
  #navtopright,#navbotright{float:right;}
  .navSmall{font-size:90%;}

  div.boardBanner{color:black;text-align:center;clear:both;}
  #bannerCnt{border:1px solid #34345C;margin:5px auto;width:300px;height:100px;max-width:100%;}
  div.boardBanner>div.boardTitle{font-family:Tahoma,sans-serif;font-size:28px;font-weight:bold;letter-spacing:-2px;margin-top:0px;}
  div.boardBanner>div.boardSubtitle{font-size:x-small;}
  div#boardNavDesktopFoot{font-size:9pt;color:#8899AA;clear:both;padding-top:10px;padding-bottom:3px;}
  .hasDropDownNav #navtopright{display:none;}
  #boardNavDesktop .pageJump{padding:0;}
  #boardNavDesktop .pageJump a{padding-right:5px;}
  div#boardNavDesktopFoot a{font-weight:normal;padding:1px;text-decoration:none;color:#34345C;}
  div.homelink{float:right}div
  #absbot{text-align:center;font-size:x-small!important;padding-bottom:4px;padding-top:10px;color:#000;clear:both;}
  #theme{width:330px;top:60px;left:50%;margin-left:-178px;}
  .settings-field{margin-top:5px;width:100%;}
  #theme-css{font-family:'DejaVu Sans Mono','Consolas','Andale Mono','Lucida Console',monospace;width:320px;min-width:320px;}
  #theme-msg{position:absolute;margin-top:4px;}
  #theme-btns{margin-top:5px;margin-bottom:3px;}
  #theme-msg,#filters-msg{display:none;}
  #threads{padding:20px 0px;text-align:center;}
  .thread{vertical-align:top;display:inline-block;word-wrap:break-word;overflow:hidden;margin-top:5px;margin-bottom:20px;padding:5px 0 3px 0;position:relative;}
  .thread a{border:none;}
  .thread img{display:inline;}
  .small .thread{width:165px;}
  .large .thread{width:270px;}
  .extended-small .thread{width:180px;max-height:320px;}
  .extended-large .thread{width:270px;max-height:410px;}
  .hl{border-style:solid;border-width:3px;}
  .pinned{border:3px dashed #34345C;}
  .pinned:hover{border-color:red;}
  .thumb{display:block;margin:auto;z-index:2;box-shadow:0 0 5px rgba(0,0,0,0.25);min-height:50px;min-width:50px;}
  .meta{cursor:help;font-size:11px;line-height:8px;margin-top:2px;margin-bottom:1px;}
  .meta .postMenuBtn{position:absolute;margin-top:-1px;display:none;}
  .thread:hover .meta .postMenuBtn{display:inline-block;}
  .teaser{display:none;padding:0 15px;}
  .extended-small .teaser,.extended-large 
  .teaser{display:block;}
  .teaser s{background-color:#000;color:#000;text-decoration:none;}
  .teaser s:focus,.teaser s:hover{color:#fff;}
  .left{float:left;}
  .right{float:right;}.clear{clear:both;}
  .close{margin-left:3px;}
  .center{text-align:center;margin:auto;}
  	#enable-mobile{font-size:small!important;}
  	#disable-mobile{font-size:small!important;display:none!important;}table{border-spacing:1px;margin-left:auto;margin-right:auto;}
  	table.postForm>tbody>tr>td:first-child{background-color:#98E;color:#000;font-weight:bold;border:1px solid #000;padding:0 5px;font-size:10pt;}
  	tr.rules td{border:0px!important;background-color:transparent!important;font-weight:normal!important;}td{margin:0px;padding:0px;font-size:10pt;}
  	#postForm input[type="text"],
  	#postForm input[type="password"],
  	table.postForm>tbody textarea,
  	#recaptcha_response_field{margin:0px;margin-right:2px;padding:2px 4px 3px 4px;border:1px solid #AAA;outline:none;font-family:arial,helvetica,sans-serif;font-size:10pt;}
  	#recaptcha_response_field:not(:focus){border:1px solid #AAA!important;}
  	table.postForm>tbody>tr>td>input[type=text]{width:244px;}
  	table.postForm>tbody>tr>td>input[name="subject"]{width:300px;}
  #vBanner{
  	width: 300px;
  	height: 100px;
  }
  #togglePostFormLink{
  	text-align: center;
  }